* {
    margin: 0;
}

.header {
    background-image: url("../images/background.webp");
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}

.header-description {
    padding-top: 50px;
    padding-right: 35%;
    padding-left: 7%;
    color: #FFFFFF;
}

.header-title {
    font-size: 5vw;
    font-weight: 700;
    line-height: 80px;
    padding-bottom: 20px;
}

.description {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    padding-right: 80px;
    padding-bottom: 20px;
}

.header-btn {
    height: 60px;
    width: 160px;
    background-color: #FF5959;
    border: 2px solid #FF5959;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}

.donate-amount {
    text-align: center;
    margin-bottom: 50px;
}

.amount-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 50px;
}

.amount {
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 30px;
    font-weight: 700;
    font-size: 20px;
}

.amount:hover {
    color: red;
    background-color: rgb(253, 226, 226);
    border: 1px solid red;
}

.donate-title {
    font-weight: 700;
    font-size: 50px;
    padding: 80px 0 40px 0;
}

.amount-descrition {
    font-family: 'Poppins';
    position: absolute;
    left: 375px;
    width: 700px;
    color: #757575;
    font-size: 20px;
}

.amount-input {
    border: none;
    border-bottom: 2px solid #cecece;
    width: 700px;
    text-align: center;
    font-size: 20px;
}

.btn {
    width: 160px;
    height: 60px;
    background-color: #FF5959;
    border: 2px solid #FF5959;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;

}

.donate-plan {
    text-align: center;
}

.plan-description {
    font-family: 'Poppins';
    position: absolute;
    left: 375px;
    width: 700px;
    color: #757575;
    font-size: 20px;
    text-align: center;
}

.plan-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 120px 150px 100px 150px;
}

.plan-item {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 30px;
    text-align: left;
}

.item1-color {
    background-color: rgba(79, 157, 166, 0.1);
}

.item2-color {
    background-color: rgba(255, 89, 89, 0.1);
}

.item3-color {
    background-color: rgb(254, 241, 217);
}

.icon {
    padding: 30px 0;
}

.plun-sub-title {
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 30px;
}

.plan-sub-description {
    font-family: 'Poppins';
    font-weight: 400px;
    font-size: 20px;
}

.contribute {
    margin: 50px 100px;
}

.contribute-item {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.contribute-title {
    font-weight: 700;
    font-size: 50px;
    padding: 30px 40px;
}

.contribute-description {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    padding: 0 120px 0 40px;
    text-align: justify;
    color: #757575;
}

.contribute-btn {
    width: 220px;
    height: 60px;
    background-color: #FF5959;
    border: 2px solid #FF5959;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    margin: 40px 0 0 40px;
}

.item2 {
    margin: 100px 40px;
}

.get-update {
    text-align: center;
}

.update-title {
    font-weight: 700;
    font-size: 50px;
    padding: 30px 40px;
}

.update-description {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    padding: 0 350px;
    color: #757575;
}

.email-input {
    margin: 30px 300px;
    padding: 80px 0;
    background-color: rgb(254, 241, 217);
    text-align: center;
}

.input-field {
    background-color: #cecece;
    padding: 10px 50px;
    border: none;
    font-size: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.subscribe-btn {
    width: 150px;
    height: 42.5px;
    background-color: #FF5959;
    border: 2px solid #FF5959;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    margin-left: -10px;
}

.donate-footer {
    margin-top: 100px;
    background-color: black;
    width: 100%;
    height: 170px;
}

.footer-title {
    font-family: 'Lobster';
    color: #FF5959;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    padding-top: 40px;
}

.footer-description {
    font-family: 'Manrope';
    color: #cecece;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    padding-top: 30px;
}
/* Small device responsive styles */
@media screen and (max-width: 576px) {
    .header {
        background-image: none;
        width: 100%;
        height: 100%;
    }

    .header-title {
        color: black;
        padding: 20px;
        font-weight: 700;
        line-height: 30px;
    }

    .header-description {
        padding: 50px 0 0 20px;
        color: #FFFFFF;
    }

    .description {
        color: black;
        font-size: 15px;
        padding: 0 0 0 20px;
    }

    .header-btn {
        margin: 20px 0 0 20px;
    }

    .donate-title {
        padding: 20px;
    }

    .amount-descrition,
    .plan-description,
    .update-description {
        left: 20px;
        width: 90%;
    }

    .amount-container {
        flex-wrap: wrap;
        margin-top: 150px;
    }

    .amount-input {
        width: 100%;
    }

    .plan-container {
        flex-direction: column;
        margin: 170px 20px 100px 20px;
    }

    .contribute {
        margin: 0 20px;
    }

    .contribute-item {
        flex-direction: column-reverse;
    }

    .contribute-description,
    .update-title {
        padding: 0 20px;
    }

    .item2 {
        flex-direction: column;
        margin: 50px 0 50px 0;
    }

    .contribute-item img {
        width: 100%;
    }

    .update-description {
        padding: 20px;
    }

    .email-input {
        margin: 0;
    }

    .input-field {
        padding: 10px 5px;
    }
}