*{
    margin: 0;
}
.header{
    background-image: url("../images/background.webp");
    background-repeat: no-repeat;
    width: 1440px;
    height: 700px;
    text-align: center;
}
.header-description{
    text-align: center;
    padding: 200px;
    color: #FFFFFF;
    text-align: center;
}
.header-title{
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
}
.description{
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    width: 700px;
    height: 60px;
    left: 375px;
    top: 370px;
}
.header-btn{
    position: absolute;
    width: 160px;
    height: 60px;
    left: 640px;
    top: 450px;
    background-color: #FF5959;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}


